<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/styles.css">
    <script src="/validation.js" defer></script>
    <title>Signup</title>
</head>
<body>
    <h1>Signup</h1>
    <form action="/signup" method="POST" onsubmit="return validateSignupForm()">
        <input type="email" name="email" id="email" placeholder="Email" required>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" required>
        <button type="submit">Sign Up</button>
    </form>
    <a href="/login">Login</a>
</body>
</html>
